@model MvcStok.Models.Entity.TBL_SATIS
@{
    ViewBag.Title = "PopUpEkleme";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    SATIŞ
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h2 class="modal-title">SATIŞ YAPMA EKRANI</h2></div>
                <form method="post" action="/Satis/YeniSatıs">
                    <div class="modal-body">
                        <label>Ürün Adı</label>
                       @Html.TextBoxFor(m => m.URUN, new {@class="form-control"})
                        <label>Müşteri Adı Soyadı</label>
                        @Html.TextBoxFor(m => m.MUSTERİ, new { @class = "form-control" })
                        <label>Adet</label>
                        @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                        <label>Telefon</label>
                        @Html.TextBoxFor(m => m.FİYAT, new { @class = "form-control" })
                        <br />
                        <button type="submit" class="btn btn-info">KAYDET</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">VAZGEÇ</button>
                    </div>
                </form>
        </div>
    </div>

</div>

