
@{
    ViewBag.Title = "Yardım";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    YARDIM
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h2 class="modal-title">Bilgilendirme</h2></div>
            <form>
                <div class="modal-body">
                    
                    <input type="text" value="Bu proje Sibel Atabey Erdem tarafından 01 Haziran 2020 tarihinde tamamlanmıştır" class="form-control" />
                    
                </div>
            </form>
        </div>
    </div>

</div>

