@model MvcStok.Models.Entity.TBL_KATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

@using (Html.BeginForm("güncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KATEGORIID)
        @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.KATGORIAD)
        @Html.TextBoxFor(m => m.KATGORIAD, new { @class = "form-control" })

        <div>
            <button class="btn btn-danger">KAYDET</button>
        </div>
    </div>}